<!-- <div class="container products-container">
  <div class="row">        
    <div class="container custs-tab-ctr">
      <div class="row">
          <div class="btn btn-primary" (click)="getProducts()">
              Get Products
          </div>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="createNewProduct()" mdbWavesEffect>Add New Product</button> 
      </div>
      <div class="row" style="margin-top:20px">
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">SKU</th>
                      <th scope="col">Unit</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let productIn of products'>
                      <td>{{productIn.name}}</td>
                      <td>{{productIn.sku}}</td>
                      <td>{{productIn.unit}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    
    </div>
  </div>
</div> -->

<div class="container products-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/products/products-search" routerLinkActive="active" >Product Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/products/product-unit-search" routerLinkActive="active" >Single Unit Search</a>
          </li>        
        <li class="nav-item">
          <a class="nav-link"  routerLink="/products/create-new-product" routerLinkActive="active" >Add New Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/products/add-new-product-unit" routerLinkActive="active" >Add New Product Unit</a>
        </li>        
      </ul>

      <div class="row">
        <div class="col-12">
            <router-outlet>
            </router-outlet>
        </div>
      </div>
</div>
