<h4>Product Search</h4>
<div class="container product-container">
  <div class="row" >
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Contact Person</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let supplier of suppliers'>
                  <td>{{supplier.name}}</td>
                  <td>{{supplier.phone_primary}}</td>
                  <td>{{supplier.contact_person_primary}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>