<div class="container product-container">
  <div class="row" >
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Tools</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let product of products'>
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.category}}</td>
                  <td>
                      <a >
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>