<div class="row justify-content-md-center  signin-container">
    <div class="card col-md-4" >
        <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
              <hr/>
              <div class="social-links text-center">
                <a><img src="/assets/img/icons/fbIco.png" alt=""></a>
                <a><img src="/assets/img/icons/google-plus.png" style="width:70px; margin-right:7px" alt=""></a>
                <a><img src="/assets/img/icons/insta.png" style="width: 65px" alt=""></a>
              </div>
              
              <br/>
              <h6 class="card-subtitle mb-2 text-muted text-center">OR</h6>
              <br/>
              
              <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Passowrd">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="inputPasswordRetype" placeholder="Retype Password">
                      </div>
                    </div>                  
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                  </div>
                  <div class="text-center">
                      <button type="button" class="btn btn-outline-primary">Sign Up</button>
                  </div>
                  
                </form>
</div>
</div>