<div class="container custs-tab-ctr">
  <div class="row">
      <div class="btn btn-primary" (click)="getCustomers()">
          Get Customers
      </div>
      <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="createNewCustomer()" mdbWavesEffect>Create New Customer</button> 
  </div>
  <div class="row" style="margin-top:20px">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Email</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let cust of customers'>
                  <td>{{cust.email}}</td>
                  <td>{{cust.first_name}}</td>
                  <td>{{cust.last_name}}</td>
              </tr>
          </tbody>
      </table>
  </div>

</div>