<div class="container custs-tab-ctr">
  <div class="row">
      <div class="btn btn-primary" (click)="getCustomers()">
          Get Customers
      </div>
      <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="newCustomerModal.show()" mdbWavesEffect>Create New Customer</button>

      <div mdbModal #newCustomerModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newCustomerModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close pull-right" aria-label="Close" (click)="newCustomerModal.hide()">
                          <span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                      <form id="newcustomer-form" (ngSubmit)="onCustomerSignUp(f)" #f="ngForm">
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <input type="email" required class="form-control" id="inputEmail4" placeholder="Email*" name="email" ngModel>
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="text" required class="form-control" id="inputPhone" placeholder="Phone*" name="phone" ngModel>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <input type="password" required class="form-control" id="inputPassword" placeholder="Passowrd*" name="password" ngModel>
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="password" required class="form-control" id="inputPasswordRetype" placeholder="Retype Password*" name="retypePassword" ngModel>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputAddress">Name and DOB</label>
                                  <input type="text" class="form-control" id="inputFName" placeholder="First Name*" name="firstName" ngModel>
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputLName">-</label>
                                  <input type="text" class="form-control" id="inputLName" placeholder="Last Name*" name="lastName" ngModel>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <input type="text" class="form-control" name="inputDOBDay" id="inputDOBDay" placeholder="DD" ngModel>
                              </div>
                              <div class="form-group col-md-4">
                                  <input type="text" class="form-control" name="inputDOBMonth" id="inputDOBMonth" placeholder="MMMM" ngModel>
                              </div>
                              <div class="form-group col-md-4">
                                  <input type="text" class="form-control" id="inputDOBYear" name="inputDOBYear" placeholder="YYYY" ngModel>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="inputAddress">Address</label>
                              <input type="text" class="form-control" name="inputAddress" placeholder="H.No, Street" ngModel>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" name="inputAddress2" placeholder="Address Line 2" ngModel>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <!-- <label for="inputCity">City</label> -->
                                  <input type="text" placeholder="City*" class="form-control" name="inputCity" ngModel>
                              </div>
                              <div class="form-group col-md-4">
                                  <!-- <label for="inputState">State</label> -->
                                  <input type="text" placeholder="State*" class="form-control" name="inputState" ngModel>
                                  <!-- <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select> -->
                              </div>
                              <div class="form-group col-md-2">
                                  <!-- <label for="inputZip">Zip</label> -->
                                  <input type="text" placeholder="Zip" class="form-control" name="inputZip" ngModel>
                              </div>
                          </div>

                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="closeCreateNewUserModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" form="newcustomer-form" class="btn btn-primary">Save changes</button>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <div class="row" style="margin-top:20px">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Email</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let cust of customers'>
                  <td>{{cust.email}}</td>
                  <td>{{cust.firstName}}</td>
                  <td>{{cust.lastName}}</td>
              </tr>
          </tbody>
      </table>
  </div>

</div>