<div class="container new-product-unit-container">
    <div class="row">
      <h4>Add a unit to Product</h4><br/><br/>
      <form id="newcustomer-form" (ngSubmit)="onProductUnitCreation(f)" #f="ngForm">
        <div class="form-row">
          <div class="form-group col-md-6">
              <label >Model Id</label>
              <input type="text" required class="form-control" placeholder="Model Id*" name="model_id" ngModel>
          </div>
          <div class="form-group col-md-6">
              <label >Weight</label>
              <input type="text" required class="form-control" placeholder="Weight*" name="weight" ngModel>
          </div>
        </div>
       <div class="form-row">
          <div class="form-group col-md-12 text-center">
              <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect> Submit</button>
          </div>
       </div>
      </form>
    </div>
  </div>