<div class="row" style="margin-top:20px">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Supplier ID</th>
                <th scope="col">Payment Type</th>
                <th scope="col">Total Weight</th>
                <th scope="col">Pending Cash Balance</th>
                <th scope="col">Pending Weight Balance</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let purchase of purchases'>
                <td>{{purchase.id}}</td>
                <td>{{purchase.supplier_id}}</td>
                <td>{{purchase.payment_type}}</td>
                <td>{{purchase.total_weight}}</td>
                <td>{{purchase.pending_cash_balance}}</td>
                <td>{{purchase.pending_weight_balance}}</td>
                <td><a routerLink="/new-installment/{{purchase.id}}" routerLinkActive="active" style="color:#007bff">Payment/Details</a></td>
            </tr>
        </tbody>
    </table>
</div> 