<div class="row" style="margin-top:20px">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Supplier ID</th>
                <th scope="col">Depreciation</th>
                <th scope="col">Payment Type</th>
                <th scope="col">Total</th>
                <th scope="col">Pending Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let purchase of purchases'>
                <td>{{purchase.id}}</td>
                <td>{{purchase.supplier_id}}</td>
                <td>{{purchase.depreciation}}</td>
                <td>{{purchase.payment_type}}</td>
                <td>{{purchase.total}}</td>
                <td>{{purchase.pending_balance}}</td>
            </tr>
        </tbody>
    </table>
</div>