<div class="container unit-search-container">
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Unit Id</th>
                    <th scope="col">Model</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let unitIn of productUnits'>
                    <td>{{unitIn.id}}</td>
                    <td>{{unitIn.model_id}}</td>
                    <td>{{unitIn.weight}}</td>
                    <td>{{unitIn.status}}</td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>